html{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

canvas {
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 80%;
}

#GameTitle {
	text-align: center;
	margin: 0 0 0 0;
	padding-bottom: 2px;
}

#game{
	margin-left: 2%;
	margin-right: 2%;
}

