<html>
  <head>
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body>
<script src="javascripts/socket.io.js"></script>


<div id="game"></div>

    <script type="text/javascript" src="javascripts/crafty.js"></script>
    <script type="text/javascript" src="javascripts/game.js"></script>
	
	<script>
	var socket = io();
	var usernameText = document.getElementById("username");
	var passwordText = document.getElementById("password");
	var registerButton = document.getElementById("register");
	var signInButton = document.getElementById("signIn");
	
	registerButton.onclick = function(){
		socket.emit('registerData',{username:usernameText.value, password:passwordText.value});
	};
	
	signInButton.onclick = function(){
		socket.emit('signInData',{username:usernameText.value, password:passwordText.value});
	};
	
	socket.on('signInResponse', function(data){
	console.log(data.success);
		if(data.success){
		alert("sign in Successful");
		Crafty.enterScene("menu");
		} else {
		alert("sign in Unsuccessful");
		}
	});
	
	socket.on('registerResponse', function(data){
	console.log(data.success);
		if(data.success){
		alert("Register Successful");
		} else {
		alert("Register Unsuccessful");
		}
	});
	
	</script>
	</body>
</html>