

input {
    color: #666;
    padding: 5px;
    border: solid 1px #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    width:220px;
	display: block;
    box-sizing: border-box;
}

button {
	color: #666;
    padding: 5px;
    border: solid 1px #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
	margin-left:25.5%;
	margin-top:3%;
	width:100px;
	height:30px;
}

#username{
	margin-left:37.5%;
	margin-top:30%;
}

#password{
	margin-top:2%;
	margin-left:37.5%;
}